<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucm.fdi.tfg">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/i1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:configChanges="orientation">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".InicioActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".IntroActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Main_MenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ValidateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MedicoValidarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NuevoPacienteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MisPacientesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PacienteValidarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CardiovascularActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".icmActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".diabetesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".htaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".tabacoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".adminActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdminPacientesActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>